*{
    margin-top: 25px;
}
h1{
    color: green;
    letter-spacing: 1px;
    text-align: center;
}

h3{
    color: red;
    text-align: center;
}

.zeus{
    text-align: center;
}

.optimus{
    border: 1px solid black;
    padding-left: 10px;
    word-spacing: 50px;
}

.bee{
    margin-left:150px;
}

.drake{
    border: 1px solid black;
    padding-left: 40px;
    margin-top: 20px;
    margin-left:30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

h6{
    color: red;
    padding-left: 10px;
}

.hawkeye{
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 40px;
    margin-right:30px ;
    margin-bottom: 10px;
    font-size: 20px;
}

.soul{
    padding-left: 10px;
    padding-top: 10px;
}

.note{
    padding-left: 20px;
}

.ozil{
    padding-left: 40px;
    font-size: 20px;
}

.closing{
    padding-left: 40px;
    font-size: 20px;
}
.zic {
    float: right;
}
.pick {
    margin-left: 30px;
}
.dave {
    border: 1px solid black;
    padding: 20px;
    margin-right: 30px;
}
.bruno {
    text-align: center;
}
.napoli {
    padding-left: 10px;
}
.jack {
    font-size: 20px;
}


@media print {
    @page {
        size: A4 landscape;
    }
}